:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 767px) {
  .flex-grow-1.overflow-auto {
    padding-bottom: 20px !important;
  }
}

[draggable="true"] {
  user-select: none;
}

tr[draggable="true"]:active {
  opacity: 0.5;
}

.card[draggable="true"]:active {
  opacity: 0.5;
}