:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 767px) {
  .flex-grow-1.overflow-auto {
    padding-bottom: 20px !important;
  }
}

[draggable="true"] {
  user-select: none;
}

tr[draggable="true"]:active {
  opacity: 0.5;
}

.card[draggable="true"]:active {
  opacity: 0.5;
}

.card.border-primary.shadow {
  border-width: 2px !important;
  transform: scale(1.03);
  transition: transform 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}