.custom-input:focus {
  border-color: #4b7ee4;
  box-shadow: 0 0 0 2px rgba(173, 181, 189, 0.25);
}

.custom-input.is-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.15);
}